<div class="inicio">
<button (click)="irA('')" >Inicio</button>

<div class="img-top">
    <img src="assets/patitas-felices.png" class="logo" >
</div>

<div class="usuario">
            <img src="assets/user.png" id="userP">
            <small >{{correo}}</small>
    </div>

</div>


<div class="container">

    <div class="datos-container">

        <h4>Usuario</h4>

    <div class="datos">

        <h5>Nombre</h5>
        <div class="dato">
            {{nombre}}
        </div>

        <h5>Apellido</h5>
        <div class="dato">
            {{ apellido }}
        </div>
    </div>

        <h4>Contacto</h4>

    <div class="datos">

        <h5>Email</h5>
        <div class="dato">
            {{ correo }}
        </div>

        <h5>Teléfono</h5>
        <div class="dato">
            {{ telefono }}
        </div>
    </div>

        <h4>Dirección</h4>

       <div class="datos" >
        <h5>Calle</h5>
        <div class="dato">
            {{ calle && calle.trim() !== '' ? calle : 'Sin calle' }}
        </div>

        <h5>Número</h5>
            <div class="dato">
            {{ numero && numero.trim() !== '' ? numero : 'Sin numeración' }}
            </div>
     </div> 


    <h4>Mascotas</h4>

    <div *ngIf="mascotas.length > 0; else sinMascotas" class="datos">
  <div *ngFor="let m of mascotas" class="dato">
    {{ m.nombre }} ({{ m.animal }})  <button (click)="eliminarMascota(m.id)">Eliminar</button>
  </div>
    </div>

    <ng-template #sinMascotas>
        <div class="datos">
            <div class="dato">
            No hay mascotas registradas
        </div>
        </div>
    </ng-template>


    <button (click)="irA('usuario-editar')">Editar usuario</button>

   
  

  



    </div>

</div>
