* {
  color: rgb(105, 105, 105);
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
  outline: none;
}


a {
  text-decoration: none;
}


button{
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
}

small{ color: rgb(85, 85, 85);
        font-size: 10px;
    text-align: end;}

h5{
    color: rgb(60, 60, 60);
    margin-top: 2%;
}


.inicio{
    background: rgb(59, 214, 139);
    /* background-color: rgb(255, 218, 241); */
    border-radius: 20px;
    padding: 30px;
    width: 100%;
    height: fit-content;

    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
}

.inicio button{
    margin: 0px;
    background-color: white;
    color: black;
    padding: 12px;
    border-radius: 20px;
    border: none;
    font-size: 18px;
}

.inicio button:hover{
    background-color: rgb(224, 222, 108);
    /* background-color: rgb(255, 152, 152); */
}

.img-top{
    text-align: center;
    padding-left: 8%;
}

.logo{
    width: 25%;
    border-radius: 30px;
    min-width: 100px;
}

.usuario{
    border: none;
    background-color: rgba(255, 255, 255, 0) !important;
    padding: 10px;
    border-radius: 20px;
    width: 22%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

#userP{
    width: 30%;
    height: 80%;
}


.titulo{
  margin-bottom: 2%;
  padding: 1%;
}


/* --------------- fin top ------------------------ */

.container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
  margin-bottom: 10%;
}

.datos-container{
  background-color: rgb(255, 218, 241);
  border-radius: 20px;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, .3);
  height: fit-content;
  transition: .9s;
  width: 100%;
  padding: 5% 10% 10% 10%;
  margin-bottom: 15%;
  margin-top: 10%;
  text-align: center;
}

.datos{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    margin-bottom: 5%;
    border-radius: 20px;
    padding: 3% 5% 5% 5%;
    background-color: rgb(255, 197, 232);

}


.dato{
    background-color: rgb(255, 255, 255);
    border: solid 1px;
    border-color: rgba(255, 255, 255, 0);
    border-radius: 20px;
    padding: 1%;
    padding-left: 2%;
    min-width: 100%;
    width: fit-content;
    text-align: start;
    margin-top: 2%;
}

.dato:hover{
    border: solid 1px;
    border-color: rgb(255, 36, 36);
}

.datos-container h4{
  margin-bottom: 2%;
}

.guardar{
    margin-top: 5%;
    background-color: white;
    color: black;
    padding: 12px;
    border-radius: 20px;
    border: none;
    font-size: 18px;
    margin-left: 2%;
    margin-right: 2%;
}

.guardar:hover{
  background-color: rgb(255, 152, 152);
}

