* {
    color: rgb(116, 116, 116);
    color:black;
    padding: 0px;
    margin: 0px;
}

input{
    color: white;
    color: black;
    padding: 15px;
    border-radius: 20px;
    border: none;
}

button {
    margin-top: 20px;
    color: black;
    padding: 12px;
    border-radius: 20px;
    border: none;
    font-size: 18px;
    
}

label{
    margin-bottom: 10px;  

}

button:hover{
    background-color: rgb(224, 222, 108);
}

.img-top{
    text-align: center;
    padding-right: 5%;
}

.logo{
    width: 15%;
    border-radius: 30px;
    margin: 0 auto;
}

.formulario{
    background-color: rgb(59, 214, 139);
    box-shadow: 20px 20px 20px rgba(0, 0, 0, .3);
    border-radius: 20px;
    padding: 30px;
    margin-top: 4%;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin-bottom: 10%;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 0 auto;
    
}

.img-top{
    background-color: rgb(255, 218, 241);
    border-radius: 20px;
    padding: 30px;
    width: 100%;
    height: fit-content;
}

.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;   
}


