.horarios, .mat-mdc-dialog-surface, .mdc-dialog__surface{
    box-shadow: none !important;
    /* background-color: rgb(101, 101, 101) !important; */
     background-color: rgb(255, 218, 241) !important;
    padding: 10%;
}


*{
  color: #5f5f5f;
}

.superior{
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: row;
}

.logo{
  max-width: 35%;
  border-radius: 20px;
}
.tabla-horarios{
    max-height: 300px; 
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
    margin-top: 5%;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, .3);
}

.renglon-hora{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    border: solid 1px;
    border-bottom: 0px;
    border-color: rgb(255, 152, 152);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 2% 5%;
}

.disponibilidad button{
  background-color: rgb(59, 214, 139); 
  margin: 0% -40%;
  padding: 20% 30%;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  
}

.seleccionado {
  background-color: rgb(255, 152, 152)!important;
  color: white;
  font-size: 18px !important;
}

.disponibilidad button:hover{
  background-color: rgb(64, 183, 92);
  color: rgb(255, 255, 255);
}


.actions {
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  
}

.actions button {
  margin: 2%;
  color: #545454;
  border: none;
  border-radius: 20px;
  font-weight: 400;
  letter-spacing: 3px;
  padding: 20px 0;
  width: 50%;
  background-color: rgb(255, 255, 255);
}


.actions button:hover {
  background-color: rgb(255, 152, 152);
  cursor: pointer;
}



