* {
    color: rgb(0, 0, 0);
    font-size: 1.1em;
    padding: 0px;
    margin: 0px;
}

input{
    color: white;
    color: black;
    padding: 10px;
    border-radius: 20px;
    border: none;
}

button {
    background-color: white;
    color: black;
    padding: 12px;
    border-radius: 20px;
    border: none;
    font-size: 18px;
}

label{
    margin-bottom: 10px;
}


.usuario{
    padding: 10px;
    border-radius: 20px;
    width: 22%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

#userP{
    width: 30%;
    height: 80%;
}

.usuario small {
    color: rgb(88, 88, 88);
}


.img-top{
    text-align: center;
    margin-left: 10%;
}

.logo{
    width: 25%;
    border-radius: 30px;
    min-width: 100px;
}


.inicio{
    
    background-color: rgb(255, 218, 241);
    border-radius: 20px;
    padding: 30px;
    width: 100%;
    height: fit-content;

    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
}

.inicio button{
    margin: 0px;
}

.inicio button:hover{
    
    background-color: rgb(255, 152, 152);
}

p {
    margin-top: 10%;
}


.nav {
    display: flex;
    justify-content: center;
    justify-self: center;
    color: black;
    background-color: rgb(59, 214, 139); 
    box-shadow: 20px 10px 20px rgba(0, 0, 0, .3);
    margin: 1% 5% 1% 5%;
    padding: 2%;
    border-radius: 30px;
    min-width: 95%;
}


.nav button {
    color: rgb(47, 47, 47);
    border-radius: 20px;
    padding: 13px;
    border: none;
    margin-right: 5px;
    margin-right: 5px;
}

.nav button:hover{   
    /* background-color: rgb(255, 152, 152); */
    background-color: rgb(224, 222, 108);
}

.line {
    display: flex;
    justify-content: center;
    justify-self: center;
    color: rgb(255, 255, 255);
    background-color: rgb(59, 64, 214); 
    box-shadow: 20px 10px 20px rgba(0, 0, 0, .3);
    margin: 1% 5% 1% 5%;
    padding: 2%;
    border-radius: 30px;
    min-width: 95%;
}

.grilla{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 1rem;
    align-items: start;
    justify-content: center;
    flex-direction:column;
}

.info{
    font-size: 1.1em;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    background-color: rgb(59, 64, 214); 
    box-shadow: 20px 10px 20px rgba(0, 0, 0, .3);
    padding: 1rem;
    border-radius: 30px;
}

.mascotaS {
    font-size: 0.9em;
    color: white;
}

