
<div class="inicio">

    <button (click)="irA('')" >Inicio</button>

    <div class="img-top">
        <img src="assets/patitas-felices.png" class="logo" >
    </div>

    <div class="usuario">
            <img src="assets/user.png" id="userP">
            <small >{{correo}}</small>
    </div>

</div>

    <div class="nav">
        <div class="grilla">
        <ng-container *ngFor="let usuario of usuarios">
            <div class="info">
                {{usuario.nombre}} {{usuario.apellido}}
                <br>
                <br>
                {{usuario.correo}}
                <br>
                {{usuario.telefono}}
                <br>
                <br>
                <button (click)="mostrarMascotas(usuario)">Mascotas de {{usuario.nombre}}</button>
                <div *ngIf="usuario.mostrar">
                    <ng-container *ngIf="usuario.mascotas; else noMascotas">
                    <div *ngFor="let mascota of usuario.MascotasArray" class="mascotaS">
                        <br>
                        Nombre: {{mascota.nombre}}
                        <br>
                        Raza: {{mascota.animal}}
                        Motivo: {{mascota.motivo}}
                        <br>
                        ¿Primera vez?:{{mascota.primeraVez || 'No definido'}}
                    </div>
                    </ng-container>
                    <ng-template #noMascotas class="mascotaS">
                        <p style="color: white; font-size: 0.9em;">Sin mascotas registradas</p>
                    </ng-template>
                </div>
            </div>
        </ng-container>
        </div>
    </div>