* {
  font-family: 'Poppins', sans-serif;
  color: rgb(0, 0, 0);
  font-size: 1.05em;
  box-sizing: border-box;
}

button {
  background-color: white;
  color: black;
  padding: 10px 18px;
  border-radius: 20px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: rgb(224, 222, 108);
  transform: scale(1.03);
}

.inicio {
  background-color: rgb(255, 218, 241);
  border-radius: 20px;
  padding: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img-top {
  flex: 1;
  text-align: center;
}

.logo {
  width: 120px;
  border-radius: 30px;
}

.usuario {
  border: none;
  background: none !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#userP {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.nav {
  display: flex;
  justify-content: center;
  background-color: rgb(59, 214, 139);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  margin: 20px 5%;
  padding: 20px;
  border-radius: 30px;
}

.grilla {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
  width: 100%;
}

.info {
  background-color: rgb(59, 64, 214);
  color: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 20px;
  text-align: center;
}
.info p{
  color: white;
}
.info b{
  color: white;
}

.info h2 {
  font-size: 1.4em;
  margin-bottom: 10px;
  color:black;
}

.dato {
  font-size: 0.95em;
  margin: 5px 0;
}

.ver-mascotas {
  background-color: rgb(255, 255, 255);
  color: rgb(59, 64, 214);
  border: 2px solid rgb(255, 255, 255);
  font-weight: 600;
  margin-top: 10px;
}

.mascotas-container {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.mascota-card {
  background-color: rgba(255, 255, 255, 0.9);
  color: rgb(59, 64, 214);
  border-radius: 15px;
  padding: 10px 15px;
  width: 90%;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}
.mascota-card p{
  color:black
}
.mascota-card b{
  color:black
}

.mascota-card h3 {
  margin-bottom: 8px;
  text-align: center;
  color: rgb(59, 64, 214);
}

.sin-mascotas {
  color: white;
  font-style: italic;
  text-align: center;
  margin-top: 10px;
}
