<body>
    <div class="title">
        <p>Patitas Felices</p>
    </div>

    <div class="nav">
        <button (click)="irA('quienes')">Quienes somos</button>
        <button (click)="irA('contacto')">Contacto</button>
        <button (click)="irA('ingresarM')">Ingresa tu Mascota</button>
        <button (click)="irA('turno')">Agenda un turno</button>
        <button (click)="irA('login')">Login</button>
        <button (click)="test1()">Test</button>
    </div>
    <div class="divImage">
        <img src="assets/photo1.jpg" id="perro1">
    </div>
</body>
