<body>
    <div class="top">
        <div class="title">
            <h1>Patitas Felices</h1>
        </div>
        <div class="usuario">
            <img src="assets/user.png" id="userP" *ngIf="correo">
            <small >{{correo}}</small>
        </div>
    </div>

    <div class="nav">
        <button (click)="irA('quienes')">¿ Quienes somos ?</button>
        <button (click)="irA('contacto')">Contacto</button>
        <button *ngIf="correo && !admin" (click)="irA('ingresarM')">Ingresa tu mascota</button>
        <button *ngIf="correo && !admin" (click)="irA('turno')">Agenda un turno</button>
        <button (click)="irA('login')" *ngIf="!correo">Iniciar sesión</button>
        <button (click)="irA('regis')" *ngIf="!correo">Registrarse</button>
        <button (click)="irA('admin')" *ngIf="admin">Admin opciones</button>
        <button *ngIf="correo" (click)="out()">Cerrar Sesión</button>
    </div>
    <div class="divImage">
        <img src="assets/photo1.jpg" id="perro1" >
    </div>

<script src="https://kit.fontawesome.com/646ac4fad6.js" crossorigin="anonymous"></script>

    <!-- Fuente de Google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap" rel="stylesheet">

    <!-- Archivo CSS -->
    <link rel="stylesheet" href="css/estilos.css">


        <footer class="pie">
        <div class="encabezado-pie">
            <div class="logo">
                <img src=" alt="Logo de Patitas Felices">
                <p class="logotipo">Patitas Felices</p>
            </div>

            <div class="redes">
                <a href="#" class="fb"><i class="fa-brands fa-facebook"></i></a>
                <a href="#" class="tw"><i class="fa-brands fa-twitter"></i></a>
                <a href="#" class="in"><i class="fa-brands fa-instagram"></i></a>
                <a href="#" class="li"><i class="fa-brands fa-linkedin"></i></a>
                <a href="#" class="yt"><i class="fa-brands fa-youtube"></i></a>
            </div>
        </div>

        <hr>

       

        <div class="derechos">
            <p>Copyright © 2025 Patitas Felices. Todos los derechos reservados.</p>
            <p><a href="#">Política de privacidad</a> | <a href="#">Términos y condiciones</a></p>
        </div>
    </footer>
</body>
