<body>
    
<div class="inicio">
        <div class="img-top">
            <img src="assets/patitas-felices.png" class="logo" >
        </div>

        <div class="usuario">
            <img src="assets/user.png" id="userP" *ngIf="correo">
            <small >{{correo}}</small>
        </div>

</div>

    <div class="nav">
        <button (click)="irA('quienes')">¿ Quienes somos ?</button>
        <button (click)="irA('contacto')">Contacto</button>
        <button *ngIf="correo && !admin" (click)="irA('ingresarM')">Ingresa tu mascota</button>
        <button *ngIf="correo && !admin" (click)="irA('turno')">Agenda un turno</button>
        <button (click)="irA('login')" *ngIf="!correo">Iniciar sesión</button>
        <button (click)="irA('regis')" *ngIf="!correo">Registrarse</button>
        <button (click)="irA('admin')" *ngIf="admin">Turnos</button>
        <button (click)="irA('admin-usuarios')" *ngIf="admin">Usuarios</button>
        <button (click)="irA('admin-articulos')" *ngIf="admin">Articulos</button>
        <button *ngIf="correo" (click)="out()">Cerrar Sesión</button>
    </div>

  <div class="contenido">
  <ng-container *ngFor="let art of articulos; let index = index" class="">
    <div class="grilla-info" *ngIf="index % 2 === 0">
      <div class="info" *ngFor="let item of articulos.slice(index, index + 2)">
        <img *ngIf="item.imagen" [src]="item.imagen" alt="Imagen del artículo" >
        <h4>{{ item.titulo }}</h4>
        <p>{{ item.texto }}</p>
        <small>{{ item.fecha?.slice(0, 10) }}</small>
      </div>
    </div>
  </ng-container>
</div>

        
</body>
