* {
    color: rgb(116, 116, 116);
    padding: 0px;
    margin: 0px;
}

input{
    color: white;
    color: black;
    padding: 10px;
    border-radius: 20px;
    border: none;
}

button {
    margin-top: 20px;
    background-color: white;
    color: black;
    padding: 12px;
    border-radius: 20px;
    border: none;
    font-size: 18px;
}

label{
    margin-bottom: 10px;
    margin-top: 10px;
}

form{
    border-radius: 20px;
    padding: 30px;
    width: fit-content;
    height: fit-content;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.login{
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    
}

.registrarse{
    background-color: rgb(255, 218, 241);
    border-radius: 20px;
    padding: 30px;
    margin-top: 5%;
    margin-bottom: 10%;
    width: fit-content;
    height: fit-content;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.registrarse button:hover{
    
    background-color: rgb(255, 152, 152);
}




.inicio{
    background-color: rgb(59, 214, 139);
    border-radius: 20px;
    padding: 30px;
    width: 100%;
    height: fit-content;

    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: row;
}

.inicio button{
    margin: 0px;
}

.inicio button:hover{
    
    background-color: rgb(224, 222, 108);
}